@CHARSET "ISO-8859-1";

/* Resetx CSS --------------------------------------- */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h5, h6, pre,
form, fieldset, input, textarea, blockquote, th, td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  max-width: 100%;
  height: auto;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

h1 {
  font-size: 5.75em;
  font-weight : 900;
  -webkit-text-shadow: 0 .2rem .3rem rgba(0,0,0,.4);
  text-shadow: 0 0.2rem 0.3rem rgb(0 0 0 / 40%);
  color : #1167A8;
  color : rgb(17, 103, 168);
}

h2 {
  font-weight : 700;
  font-size : 4.25em;
  color : #fff;
  color : rgb(225, 225, 225);
}

/* h3 {
  font-size : 3.25em;
  color : #686868;
  color : rgb(104, 104, 104);
}
*/

h3 {
  font-size : 42px;
  font-weight : 900;
  line-height: inherit;
  /*-webkit-text-shadow: 0 .2rem .3rem rgba(0,0,0,.9);
  text-shadow: 0 0.2rem 0.3rem rgb(0 0 0 / 80%); */
  color : #1167A8;
  color : rgb(17, 103, 168);
}

h4 {
  font-size : 38px;
  font-weight : 900;
  line-height: 42px;
  /* -webkit-text-shadow: 0 .1rem .1rem rgba(0,0,0, .7);
  text-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 70%); */
}

h5 {
  font-size : 38px;
  font-weight : 900;
  line-height: 40px;
}

h6 {
  font-size : 36px;
  font-weight : 900;
  line-height: inherit;
  /* -webkit-text-shadow: 0 0 0 rgba(0,0,0,.9);
  text-shadow: 0 0 0 rgb(0 0 0 / 80%); */
  color : #fff;
  color : rgb(255, 255, 255);
}

p {
  margin-left: auto;
  margin-right: auto;
	font-family : 'Roboto', sans-serif;
	font-weight: 400;
	color : #686868;
	color : rgb(104, 104, 104);
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

#sectionTop{
  background-image: url(../images/foothills_landscape20.jpg);
}

.section{
  background-size: cover;
}

.slide{
		background-size: cover;
	}


.container-section {
  display: flex;
	flex-wrap: wrap;
  align-items: center;
  padding:5px;
}

/* .container-full {
  padding:10px;
	flex: 100%;
} */

.container-left {
  padding:5px;
	flex: 50%;
}

.container-right {
  padding:5px;
	flex: 50%;
}

.overlap-containerabove {
  margin : -50px 0 0 0;
}


.container-fixedsize {
  padding: 20px;
  flex-direction: column;
  align-items: center;
  flex: 90%;
  height: 800px;
}





.items-left {
  justify-content: space-evenly;
	align-items: flex-start;
	text-align: left;
}

.items-right {
  justify-content: space-evenly;
	align-items: flex-end;
	text-align: right;
}

.items-center {
	align-items: center;
	text-align: center;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 40%; */
}

@media (max-width: 800px) {
  .container-left, .container-right {
    flex: 100%;
  }
}



.bkgrnd-blue {
	background-color: #1167A8;
}

.bkgrnd-green {
	background-color: #6ed600;
}

.bkgrnd-orange {
	background-color: #efb000;
}

.bkgrnd-litegrey {
	background-color: #e5e5e5;
}



.container div {
  flex: 1;
	}


.flex-item-pic {
  padding: 10px;
  height: 100%;
  margin-top: 10px;
  line-height: 1em;
  text-align: right;
}

.flex-item-text {
  padding: 10px;
  width: 80%;
  height: 100%;
  margin-top: 10px;
  line-height: 1.4em;
  /* text-align: left; */
}




.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
}


.blocktext {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 800px;
}

.parasmall {
  font-family : Roboto, sans-serif !important;
  font-size : 22px;
  letter-spacing : -1px;
  text-align: center;
  width : 60%;
}

.para_White {
  font-weight: 400;
  color : #fff;
  color : rgb(255,255,255);
}

.para_Grey {
  color : #686868;
  color : rgb(104, 104, 104);
}

.para_Blue {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: bottom;
  color : #a7c8dc;
  color : rgb(167, 200, 220);
}


.txt-section-header{
  font-size : 60px;
  font-weight : 900;
  line-height: 52px;
  /* width: 80%; */
}

.txt-shadow {
  -webkit-text-shadow: -1px,-1px .4rem rgba(0,0,0,.9);
  text-shadow: 0px 2px .4rem #;
}


.txt-white {
  color: #fff;
  color : rgb(255, 255, 255);
}

.txt-blue {
  color: #1167A8;
  color : rgb(17, 103, 168);
}

.  line-height: 24px;  line-height: 24px; {
  color: #61b2e5;
  color : rgb(97, 178, 229);
}

.txt-green {
  color: #6ed600;
  color : rgb(110, 214, 0);
}

.txt-orange {
  color: #efb000;
  color : rgb(239, 176, 0);
}

.txt-black {
  color: #000;
  color : rgb(0, 0, 0);
}




.txt-biggreen {
  font-size: 38px;
  font-weight : 900;
  -webkit-text-shadow: 0 .2rem .3rem rgba(0,0,0,.9);
  text-shadow: 0 0.2rem 0.3rem rgb(0 0 0 / 80%);
  color : #6cdd00;
}

.txt-bigblue {
font-size: 38px;
font-weight : 900;
-webkit-text-shadow: 0 .2re7m .3rem rgba(0,0,0,.9);
text-shadow: 0 0.2rem 0.3rem rgb(0 0 0 / 80%);
color : #61b2e5;
}


/*
.intro p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}
*/



/* .section {
  text-align: center;
}
*/




/* Fixed header and footer.  --------------------------------------- */
#header{
  position:fixed;
  height: 40px;
  display:block;
  width: 100%;
  background: rgba(15,110,169, 0.8);
  z-index:9;
  text-align:center;
  color: #f2f2f2;
  padding: 20px 0 0 0;
}

#footer{
  position:fixed;
  height: 80px;
  display:block;
  width: 100%;
  background: rgb(16, 65, 118);
  z-index:9;
  text-align:center;
  color : #FFF;
  padding: 15px 0 0 0;
}



#header{
  top:0px;
}
#footer{
  bottom:0px;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu {
  bottom: 80px;
}
#infoMenu li a {
  color: #fff;
  z-index: 999;
}


/*
 .block-group {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(600px,1fr));
  grid-gap: 10px;
}
div.block-group {
 height: 800px;
} */









#menu li {
  display: inline-block;
  margin: 10px;
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#menu li.active {
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

#menu li a {
  text-decoration: none;
  color: #000;
}

#menu li.active a:hover {
  color: #000;
}

#menu li:hover {
  background: rgba(255, 255, 255, 0.8);
}

#menu li a,
#menu li.active a {
  padding: 9px 18px;
  display: block;
}

#menu li.active a {
  color: #fff;
}

#menu {
  position: fixed;
  top: 1;
  left: 0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}


#infoMenu {
  height: 20px;
  color: #f2f2f2;
  position: fixed;
  z-index: 70;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 0.9em;
  padding: 8px 0 8px 0;
}

#infoMenu ul {
  padding: 0 40px;
}

#infoMenu li a {
  display: block;
  margin: 0 22px 0 0;
  color: #333;
}

#infoMenu li a:hover {
  text-decoration: underline;
}

#infoMenu li {
  display: inline-block;
  position: relative;
}

#examplesList {
  display: none;
  background: #282828;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 20px;
  float: left;
  position: absolute;
  bottom: 29px;
  right: 0;
  width: 822px;
  text-align: left;
}

#examplesList ul {
  padding: 0;
}

#examplesList ul li {
  display: block;
  margin: 5px 0;
}

#examplesList ul li a {
  color: #BDBDBD;
  margin: 0;
}

#examplesList ul li a:hover {
  color: #f2f2f2;
}

#examplesList .column {
  float: left;
  margin: 0 20px 0 0;
}

#examplesList h3 {
  color: #f2f2f2;
  font-size: 1.2em;
  margin: 0 0 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  padding: 0 0 5px 0;
}



/* Buttons
 * --------------------------------------- */
#download a {
  text-decoration: none
}

#download,
#download:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.button {
  margin: 15px 0 0 0;
  vertical-align: middle;
  display: inline-block
}

.button a {
  color: #fff;
  background: rgba(0, 0, 0, .4);
  padding: 15px 30px;
  border-radius: 5px;
  display: inline-block;
}

.button a:hover {
  color: #316f68;
  background-color: #fff
}

.code {
  background: rgba(255, 255, 255, .7);
  padding: 0px 5px;
  line-height: 25px;
}


/* address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
} */
